---
siteTitle: 11ty with Serverless Cloud
description: "This is an 11ty template for Serverless Cloud"
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{% if (title != 'Home') %}{{title}} - {% endif %}{{ siteTitle }}</title>
		<script>
			const getUsers = () => {
				fetch('/api/users')
				.then(response => response.json())
				.then(response => {
					const dataEl = document.getElementById('data');
					dataEl.innerHTML = "";
					for (let i in response) {
						let li = document.createElement('li');
						li.innerHTML = "<strong>" + response[i].value.name + ":</strong> " + response[i].value.email
						dataEl.appendChild(li)
					}
				})
			}
		</script>
  </head>
  <body>
  	{{ content | safe }}
  </body>
</html>